<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
            <add key="DirectoryMonitorPath" value="C:\Data\TEMP\DirectoryMonitor" />
            <add key="DirectoryMonitorFilter" value="*.*" />
            <add key="DirectoryMonitorIncludeSubs" value="true" />
    </appSettings>
</configuration>
